body {
    background-color: bisque;
}

body {
    max-width: 600px;
    margin:0 auto;
}

article p {
    line-height: 1.6;
}

article h2 a{
    text-decoration: none;
    color:#222;
}

article:not(:first-of-type) {
    margin-top: 3rem;
    padding-top: 1.5rem;
    border-top: 1px solid #7c7c7c;
}